# Beautifying neighborhoods in St. Louis

In [ ]:
# csv file of neighborhoods in St. Louis
# - Population of each neighborhood in St. Louis
# - Property value of a neighborhood from Redfin
# - Walkability score from .GOV site and that other walkability site
# - STARS collision data
# - CRIME data from the St. Louis Post-Dispatch crime tracker, find original source
# - All murals from a specific neighborhood

In [119]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [13]:
response = requests.get("https://www.walkscore.com/MO/St._Louis")
doc = BeautifulSoup(response.text)
# doc

## Murals

In [ ]:
# Num of murals in three key neighborhoods
# Num of murals in neighborhoods adjacent to three key neighborhoods


# df.to_csv("murals.csv", index=False)

## Demographics

In [162]:
# !pip install selenium
# !pip install webdriver-manager

In [120]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

In [121]:
# driver = webdriver.Chrome(ChromeDriverManager().install())

driver = webdriver.Chrome(ChromeDriverManager().install())

/var/folders/n9/d59lbjm54zq90fxhmx7qktmc0000gn/T/ipykernel_15083/31274722.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [166]:
driver.get("https://www.stlouis-mo.gov/government/departments/planning/research/census/data/neighborhoods/index.cfm?censusYear=2020&comparisonYear=0&measure=P0010001")

In [170]:
driver.find_element(By.XPATH, '//*[@id="DataTables_Table_0"]/tbody/tr[19]/td[1]/a').click()

In [173]:
pd.read_html(driver.page_source, flavor="html5lib")[0]

                                        Unnamed: 0  2020
0                                 Total Population  3041
1                                      White alone   945
2                  Black or African-American alone  1614
3                             Asian-American alone   264
4          American Indian and Alaska Native alone     4
5  Native Hawaiian or Other Pacific Islander alone     2
6                            Some Other Race alone    78
7                                Two or More Races   134

In [200]:
# Old North St. Louis = 60
# Blue Grand Center = 19
# Forest Park South East = 28

neighborhoods = [60, 19, 28]

for neighborhood in neighborhoods:
    print("Searching for", neighborhood)
    print(f'//*[@id="DataTables_Table_0"]/tbody/tr[{neighborhood}]/td[1]/a')

Searching for 60
//*[@id="DataTables_Table_0"]/tbody/tr[60]/td[1]/a
Searching for 19
//*[@id="DataTables_Table_0"]/tbody/tr[19]/td[1]/a
Searching for 28
//*[@id="DataTables_Table_0"]/tbody/tr[28]/td[1]/a

### ADJACENT NEIGHBORHOODS

## Walkability

In [178]:
table = doc.find("table", class_="tablesorter").find("tbody")

neighborhoods = []

for row in table:
    if row.find("td") != -1:
        rank = row.find("td").text
        name = row.find("td", class_="name").text
        walk_score = row.find("td", class_="walkscore").text
        transit_score = row.find("td", class_="transitscore").text
        bike_score = row.find("td", class_="bikescore").text
        population = row.find("td", class_="population").text
        
        neighborhood = {
            "rank": rank,
            "name": name,
            "walk": walk_score,
            "transit_score": transit_score,
            "bike_score": bike_score,
            "population": population
        }
        
        neighborhoods.append(neighborhood)

In [179]:
df = pd.DataFrame(neighborhoods)
df.head(10)

  rank                   name walk transit_score bike_score population
0    1       Benton Park West   88           43         63       4,264
1    2               Downtown   87           64         61       7,670
2    3       Tower Grove East   85           43         76       5,880
3    4                Soulard   85           39         59       3,429
4    5           Gravois Park   84           44         57       5,170
5    6            Benton Park   84           42         57       3,436
6    7       Lafayette Square   82           51         63       2,056
7    8  Forest Park Southeast   82           55         78       2,911
8    9         Near Southside   81           61         59       2,360
9   10               Fox Park   80           40         62       2,600

In [81]:
df.to_csv("neighborhoods.csv", index=False)

## St. Louis score

In [ ]:
stl_walk = 66
stl_transit = 43
stl_bike = 58

In [198]:
# MEDIAN WALK SCORE
df["walk"].median()

64.0

In [197]:
# AVERAGE WALK SCORE
round(df["walk"].astype(int).mean())

64

In [138]:
# MISSING
# Botanical Heights
# Kings Oak

# expanded_forest_park_southeast = df[(df['count'] == '2') & (df['price'] == '100')]

df[df["name"] == "Forest Park Southeast"]

  rank                   name walk transit_score bike_score population
7    8  Forest Park Southeast   82           55         78       2,911

In [128]:
df[df["name"] == "Old North St. Louis"]

   rank                 name walk transit_score bike_score population
36   37  Old North St. Louis   64           43         65       1,917

In [199]:
# dict = {
#     "": [],
#     "": [],
#     "": []
# }
# df = pd.DataFrame(dict)
# df.loc[len(df.index)] = ['Amy', 89, 93] 

# # dict = {df[df["name"] == "Near North Riverfront"]}
# # df = pd.DataFrame(dict)

# dict.append(df[df["name"] == "Near North Riverfront"])
# df


# ["Hyde Park", "St. Louis Place", "Carr Square", "Columbus Square", "Near North Riverfront"]

In [129]:
df[df["name"] == "Grand Center"]

   rank          name walk transit_score bike_score population
24   25  Grand Center   70           51         66       3,492

## Forest Park Southeast

In [160]:
# # ADJACENT NEIGHBORHOODS
# forest_park_southeast = ["Central West End", "Midtown", "Botanical Heights", "Southwest Garden", "The Hill", "Kings Oak"]

# adj_neigh_forest_park_southeast = []

# for neighborhood in df["name"]:
#     for item in filtered_list:
#         if item == neighborhood:
#             print(df[df["name"] == neighborhood])

## Convenant Blu Grand Center

In [ ]:
convenant_blu = ["Central West End", "Midtown", "Jeff Vanderlou", "Vandeveter", "Greater Ville"]

## Old North St. Louis

In [ ]:
old_north_st_louis = ["Hyde Park", "St. Louis Place", "Carr Square", "Columbus Square", "Near North Riverfront"]

In [ ]:
# Walkability
# ST. LOUIS FIPS = 29510
# https://www.stlouis-mo.gov/data/datasets/dataset.cfm?id=85

In [ ]:
# PROPERTY VALUE
# https://dynamic.stlouis-mo.gov/citydata/newdesign/statsselector.cfm?type=data&geo=neigh
# https://www.stlouisrealestatesearch.com/st-louis-current-home-prices/

In [ ]:
# CRIME

In [115]:
df = pd.read_csv("neighborhoods_list.csv")
df

    NHD_NUM             NHD_NAME  ANGLE              NHD_NUMTXT  NHD_NUM_ST
0        43           Franz Park    0.0           43 Franz Park          43
1        29              Tiffany    0.0              29 Tiffany          29
2        28    Botanical Heights    0.0    28 Botanical Heights          28
3        40            Kings Oak    0.0            40 Kings Oak          40
4        41           Cheltenham    0.0           41 Cheltenham          41
..      ...                  ...    ...                     ...         ...
83       61  Old North St. Louis    0.0  63 Old North St. Louis          63
84       61          Carr Square    0.0          61 Carr Square          61
85       61            Hyde Park    0.0            65 Hyde Park          65
86       61      St. Louis Place    0.0      60 St. Louis Place          60
87       61        Downtown West    0.0        36 Downtown West          36

[88 rows x 5 columns]

In [116]:
df = df.rename(columns={
    "NHD_NAME": "name",
    "NHD_NUM_ST": "num"
})

df = df.drop("NHD_NUM", axis=1)
df = df.drop("ANGLE", axis=1)
df = df.drop("NHD_NUMTXT", axis=1)

In [120]:
df.sort_values("name", ascending=True)

                              name  num
18                         Academy   51
75                           Baden   74
71  Bellefontaine/Calvary Cemetery   86
44                     Benton Park   22
41                Benton Park West   30
..                             ...  ...
72                Walnut Park West   76
67                Wells Goodfellow   50
20                        West End   48
34                   Willmore Park   88
10                  Wydown Skinker   45

[88 rows x 2 columns]

In [ ]:
# df_n = pd.read_csv("zipcodes-neighborhoods.csv", na_values="Unknown")
# merged = df.merge(df_n, left_on="Owner Zip Code", right_on="zip")

## Crime

In [125]:
response = requests.get("https://graphics.stltoday.com/apps/crime/st-louis-city/")
doc = BeautifulSoup(response.text)

neighborhoods = doc.find("ul").find_all("li")
base_url = "https://graphics.stltoday.com"
urls = []

for neighborhood in neighborhoods[4:]:
    url = base_url + neighborhood.a.get('href')
    urls.append(url)

# print(urls)

In [142]:
# response = requests.get("https://graphics.stltoday.com/apps/crime/st-louis-city/academy/")
# doc = BeautifulSoup(response.text)

# for url in urls:
#     print(url)

neighborhoods = []

driver.get(url)

neighborhood = driver.find_elements(By.TAG_NAME, "h1")[3].text
change = driver.find_elements(By.CLASS_NAME, "crimechange")[0].text
per_capita_rate = driver.find_elements(By.CLASS_NAME, "percapitarate")[0].text
per_capita_rank = driver.find_elements(By.CLASS_NAME, "percapitarank")[0].text

info = {
   "neighborhood": neighborhood,
    "change": change,
    "per_capita_rate": per_capita_rate,
    "per_capita_rank": per_capita_rank
}


# forest_park_southeast = ["Central West End", "Midtown", "Botanical Heights", "Southwest Garden", "The Hill", "Kings Oak"]
# convenant_blu = ["Central West End", "Midtown", "Jeff Vanderlou", "Vandeveter", "Greater Ville"]
# old_north_st_louis = ["Hyde Park", "St. Louis Place", "Carr Square", "Columbus Square", "Near North Riverfront"]


# neighborhoods = ""


# for neighborhood in neighborhoods:
#     print(neighborhood)

'higher than 43 neighborhoods (out of 77)'